body {
  text-align: center;
  color: #fff;
  font-weight: 200;
  text-align: center;
  background-color: #E9E6E9;
  background-image: linear-gradient(to bottom, rgba(68, 68, 68, .7), rgba(68, 68, 68, .7)), url("../assets/bg.jpg");
  background-image: -moz-linear-gradient(top, rgba(68, 68, 68, .7), rgba(68, 68, 68, .7)), url("../assets/bg.jpg");
  background-image: -o-linear-gradient(top, rgba(68, 68, 68, .7), rgba(68, 68, 68, .7)), url("../assets/bg.jpg");
  background-image: -ms-linear-gradient(top, rgba(68, 68, 68, .7), rgba(68, 68, 68, .7)), url("../assets/bg.jpg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(68, 68, 68, .7)), to(rgba(68, 68, 68, .7))), url("../assets/bg.jpg");
  background-image: -webkit-linear-gradient(top, rgba(68, 68, 68, .7), rgba(68, 68, 68, .7)), url("../assets/bg.jpg");
  background-size: auto, cover;
}
h1 {
  font-weight: 200;
  font-size: .9em;
  margin: 0;
}
.nav-bar {
  background-color: transparent !important;
}
.searchbox {
  margin-top: 100px;
}
.color-info {
  margin-top: 30px;
  list-style-type: none;
}
.color-details {
  text-align: right;
}
.code-list {
  text-align: left;
}
.color-info ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

md-content.md-default-theme {
  background-color: transparent;
  width: 50%;
  margin: auto;
}
/*footer{
  position:fixed;
  bottom:0px;
  left:0px;
  right:0px;
  margin-bottom:0px;
  margin-left: 2%;
  margin-right: 2%;
  border-top: solid 1px #fff;
}*/
/*a {
  text-decoration: none;
  color: #62C059;
}
a:hover {
  text-decoration: none;
  color: #62C059;
}
a:visited {
  text-decoration: none;
  color: #62C059;
}*/
/*.foot1 {
  text-align: left;
  margin-left: 2%;
}
.foot2 {
  text-align: right;
  margin-right: 2%;
}*/
