body {
  text-align: center;
  color: #fff;
  font-family: 'Roboto Slab',sans-serif;
  color: #fff;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(68, 68, 68, .7), rgba(68, 68, 68, .7)), url("../assets/applebg.png");
  background-image: -moz-linear-gradient(top, rgba(68, 68, 68, .7), rgba(68, 68, 68, .7)), url("../assets/applebg.png");
  background-image: -o-linear-gradient(top, rgba(68, 68, 68, .7), rgba(68, 68, 68, .7)), url("../assets/applebg.png");
  background-image: -ms-linear-gradient(top, rgba(68, 68, 68, .7), rgba(68, 68, 68, .7)), url("../assets/applebg.png");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(68, 68, 68, .7)), to(rgba(68, 68, 68, .7))), url("../assets/applebg.png");
  background-image: -webkit-linear-gradient(top, rgba(68, 68, 68, .7), rgba(68, 68, 68, .7)), url("../assets/applebg.png");
  background-size: auto, cover;
}
h1 {
  padding-top: 10%;
  font-size: 2.8em;
}
.aside {
  display: none;
}
.aside.active {
  display: block;
}
.alert {
  background: linear-gradient(to bottom, rgba(68, 68, 68, .7), rgba(68, 68, 68, .7));
  background: -moz-linear-gradient(top, rgba(68, 68, 68, .7), rgba(68, 68, 68, .7));
  background: -o-linear-gradient(top, rgba(68, 68, 68, .7), rgba(68, 68, 68, .7));
  background: -ms-linear-gradient(top, rgba(68, 68, 68, .7), rgba(68, 68, 68, .7));
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(68, 68, 68, .7)), to(rgba(68, 68, 68, .7)));
  background: -webkit-linear-gradient(top, rgba(68, 68, 68, .7), rgba(68, 68, 68, .7));
  border-radius: 0px;
}
.alert-1.active {
  background: #62C059;
}
.alert-2.active {
  background: #DD9526;
}
.alert-3.active {
  background: #C04115;
}

md-content.md-default-theme {
  background-color: transparent;
  width: 50%;
  margin: auto;
}
footer{
  position:fixed;
  bottom:0px;
  left:0px;
  right:0px;
  margin-bottom:0px;
  margin-left: 2%;
  margin-right: 2%;
  border-top: solid 1px #fff;
}
a {
  text-decoration: none;
  color: #62C059;
}
a:hover {
  text-decoration: none;
  color: #62C059;
}
a:visited {
  text-decoration: none;
  color: #62C059;
}
.stylish {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
}
.stylish:after {
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
.stylish:hover:after {
  width: 100%;
  background: #62C059;
}
.foot1 {
  text-align: left;
  margin-left: 2%;
}
.foot2 {
  text-align: right;
  margin-right: 2%;
}
.google-ad {
  margin-bottom: 3%;
}

/* Extra small devices (phones, 320px and up) */
@media (min-width: 320px) {
  md-content.md-default-theme {
  width: 90%;
  }
  .foot1 {
    text-align: center;
    margin-left: 0;
  }
  .google-ad {
    padding-left: 2%;
    padding-right: 2%;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  md-content.md-default-theme {
  width: 60%;
  }
  .foot1 {
    text-align: left;
    margin-left: 2%;
  }
  .google-ad {
    padding: auto;
  }
}

